<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>登陆</title>
		<style type="text/css">
			.login{
				position: absolute;
				margin:auto;
				width: 604px;
				height: 300px;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
				box-shadow:2px 5px 12px #555,-1px -1px 3px #292929;
			}
			input{
				margin: 10px;
			}
			#login,#signup{
				float: left;
				position: relative;
				height: 260px;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
				padding: 20px 30px 20px 30px;
			}
			#login{
				border-right: 2px #CCCCCC dashed;
			}
			input[type="button"]{
				width: 100px;
				font-size: 20px;
				margin: 10px 0px;
				background-color: #0099FF;
				color:#FFFFFF;
				border-color: #66CCCC; 
			}
			input[type="checkbox"]{
				margin: 14.5px 10px 14.5px 0px;
			}
		</style>
	</head>
	<body>
		<div class="login">
			<div id="login">
				<form action="login" method="post">
					<h1>登陆</h1>
					用户名：<input placeholder="example@somemail.com" name="email"><br>
					密 码 ：<input placeholder="" name="password" type="password"><br>
					<input type="checkbox" id="rememberme">记住密码<br>
					<input type="button" id="btn_login" value="登陆">
				</form>
			</div>
			<div id="signup">
				<form action="signup" method="post">
					<h1>注册</h1>
					用户名：<input placeholder="example@somemail.com" name="email_signup"><br>
					密 码 ：<input placeholder="" name="password_signup" type="password"><br>
					确 认 ：<input placeholder="" name="password_signup_confirm" type="password"><br>
					<input type="button" id="btn_signup" value="注册">
				</form>
			</div>
		</div>
		<script src="\javascripts\jquery-1.10.2.min.js"></script>
		<script src="\javascripts\jquery.cookie.js"></script>
		<script type="text/javascript">
			var cookiemail = $.cookie('email'),
				cookiepassword = $.cookie('password');

			if(cookiemail && cookiepassword){
				$('[name="email"]')[0].value = cookiemail;
				$('[name="password"]')[0].value = cookiepassword;
				$('#rememberme')[0].click();
			}

			$('#btn_login').click(function(event){

				var email = $('[name="email"]')[0].value,
					password = $('[name="password"]')[0].value,
					check = $('#rememberme')[0].checked;

				if(email && password){
					$.post('/login',{'email':email,'password':password},function(data){
						if(data == '/userinfo') {
							if(check){

								if(email == cookiemail && password == cookiepassword){
									//todo
								}else {
									$.cookie('email',email, { expires: 14 });
									$.cookie('password',password, { expires: 14 });
								}
							}else {
								console.log('remove');
								$.removeCookie('email');
								$.removeCookie('password');
							}

							location.href = data;

						}else {

							alert(data);

						}
					})
				}else{

					alert('用户名或密码为空！');
					return;

				}

			})

			$('#btn_signup').click(function(event){

				var email = $('[name="email_signup"]')[0].value,
					password = $('[name="password_signup"]')[0].value,
					password_confirm=$('[name="password_signup_confirm"]')[0].value;

				if(email && password && password_confirm){

					if(password != password_confirm){
						alert('两次输入的密码不一致！');
						return;
					}

					var emailreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,4}$/,
					pwdreg = /^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,22}$/;

					if(!emailreg.test(email)) {
						alert('用户名格式不正确');
						return;
					}

					if(!pwdreg.test(password)) {
						alert('密码格式不正确');
						return;
					}

					$.post('/signup',{'email':email,'password':password,'password_confirm':password_confirm},function(data){
						
						if(data == '/users') {
							location.href = data;
						}else {
							alert(data);
						}
						
					})

				}else{

					alert('用户名或密码为空！');

				}
			})
		</script>
	</body>
</html>