<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<meta charset="utf-8">
		<title>乐屋首页</title>
		<style type="text/css">
			body{
				padding-top: 100px;
				background-color: #f8f8f8;
			}
			.container{
				text-align: center;
			}
			h1{
				font-weight: 900;
        margin-bottom: 30px;
        font-size: 40px;
			}
      input{
        width: 380px;
        font-size: 20px;
        margin-bottom: 6px;
        padding: 8px;
      }
      #btn-login,#btn-signup{
        width: 380px;
        padding: 6px;
        font-weight: bolder;
        font-size: 20px;
        margin-bottom: 6px;
      }
      #btn-login:hover,#btn-signup:hover{
        opacity: 0.6;
      }
      #btn-login{
        background-color: #ff7a4d;
        color: #f8f8f8;
      }
      #btn-signup{
        background: #ffffff;
        color: #7c7c7c;
        border: 1px solid #7c7c7c;
      }
      #other-info{
        width: 380px;
        margin: 0px auto;
      }
      input[type="checkbox"]{
        display: inline;
        width: 30px;
        margin-top: 0px;
      }
		</style>
	</head>
	<body>
		<div class="container">

			<img src="images/logo.png"><br><br>

			<H1>乐屋，狂拽霸气吊炸天！</H1>

			<input placeholder="乐屋账号/邮箱/手机号" name="email"><br>
			<input placeholder="密码" name="password" type="password"><br>
      <button class="btn" id="btn-login">快速登录</button><br>

      <div id="other-info">
        <input type="checkbox" id="rememberme" class="pull-left">
        <h5><small class="pull-left">两周内自动登录</small></h5>
        <h5><small class="pull-right">忘记密码</small></h5>
      </div><br><br>

      <button class="btn" id="btn-signup">注册乐屋账户</button>
		
    </div>

		<script src="javascripts/jquery-1.10.2.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>

    <script>
      $('#btn_login').click(function(event){
        var email = $('[name="email"]')[0].value,
          password = $('[name="password"]')[0].value,
          check = $('#rememberme')[0].checked;

        if(email && password){
          $.post('/login',{'email':email,'password':password, 'rememberme': check},function(data){
            if(data == '/userinfo') {
              location.href = data;
            }else {
              alert(data);
            }
          })
        }else{
          alert('用户名或密码为空！');
          return;
        }
      })
    </script>
	
  </body>
</html>
		<!--<div class="login">
			<div id="login">
				<form action="login" method="post">
					<h1> 登陆</h1>
					<input placeholder="example@somemail.com" name="email"><br>
					<input placeholder="密码" name="password" type="password"><br>
					<input type="checkbox" id="rememberme">记住密码<br>
					<input type="button" class="btn btn-primary" id="btn_login" value="登 陆">
				</form>
			</div>
			<div id="signup">
				<form action="signup" method="post">
					<h1> 注册</h1>
					<input placeholder="邮箱" name="email_signup"><br>
					<input placeholder="6位以上密码" name="password_signup" type="password"><br>
					<input placeholder="密码确认" name="password_signup_confirm" type="password"><br>
					<input type="button" class="btn btn-success" id="btn_signup" value="注 册">
				</form>
			</div>
		</div>
		<script src="/javascripts/jquery-1.10.2.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript">


			$('#btn_login').click(function(event){

				var email = $('[name="email"]')[0].value,
					password = $('[name="password"]')[0].value,
					check = $('#rememberme')[0].checked;

				if(email && password){
					$.post('/login',{'email':email,'password':password, 'rememberme': check},function(data){
						if(data == '/userinfo') {

							location.href = data;

						}else {

							alert(data);

						}
					})
				}else{

					alert('用户名或密码为空！');
					return;

				}

			})

			$('#btn_signup').click(function(event){

				var email = $('[name="email_signup"]')[0].value,
					password = $('[name="password_signup"]')[0].value,
					password_confirm=$('[name="password_signup_confirm"]')[0].value;

				if(email && password && password_confirm){

					if(password != password_confirm){
						alert('两次输入的密码不一致！');
						return;
					}

					var emailreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,4}$/,
					pwdreg = /^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,22}$/;

					if(!emailreg.test(email)) {
						alert('用户名格式不正确');
						return;
					}

					if(!pwdreg.test(password)) {
						alert('密码格式不正确');
						return;
					}

					$.post('/signup',{'email':email,'password':password,'password_confirm':password_confirm},function(data){
						
						if(data == '/userinfo') {
							location.href = data;
						}else {
							alert(data);
						}
						
					})

				}else{

					alert('用户名或密码为空！');

				}
			})
		</script>
	</body>
</html> -->