<!DOCTYPE html>

<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>乐屋-店铺应用</title>


    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="http://v3.bootcss.com/examples/carousel/carousel.css" rel="stylesheet">
    <style type="text/css">
        .fontColorOrange {
            color: #eb7d08;
            font-family: "微软雅黑";
        }
        .featureTitle{
            font-family: "微软雅黑";
            color: #474747;
            font-size: 32px;
        }
        .featureText{
            font-family: "微软雅黑";
            color: #6a6a6a;
            font-size: 16px;
        }
        .footer{
            color: #7a7777;
            font-family: "微软雅黑";
            padding-top: 50px;
            padding-bottom: 100px;
        }
        li{
            font-family: "微软雅黑";
        }
    </style>
</head>
<!-- NAVBAR
================================================== -->
<body style="">

<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="font-family: '微软雅黑';" class="navbar-brand" href="../">乐屋</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="../">产品介绍</a></li>
                        <li><a href="./home">家庭应用</a></li>
                        <li class="active"><a href="#">店铺应用</a></li>
                        <li><a href="./download">软件下载</a></li>
                        <li><a href="./details">功能参数</a></li>
                        <li><a href="./preorder">产品预订</a></li>
                        <li><a href="./contact">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featureTitle"><b>店铺防盗</b><br><br><b class="fontColorOrange">无论是白天还是夜晚，随时随地拿出手机照看店铺，把商铺带在身边</b></h2><br>
            <p class="lead featureText">高清视频，严密监控店铺动态</p>
            <p class="lead featureText">红外夜视，即使晚上也能正常使用</p>
            <p class="lead featureText">为您的商铺提供紧急事件提醒和入侵防护，让入侵抢劫的歹徒无法得逞</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="../images/shop1.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="../images/shop2.jpg">
        </div>
        <div class="col-md-7">
            <h2 class="featureTitle"><b>企业连锁店管理</b><br><br><b class="fontColorOrange">层级管理，助力运营，乐屋让您轻松的通过手机同时管理多个店铺，省时、省力、省心</b></h2><br>
            <p class="lead featureText">一个手机即可监控所有连锁店的现场情况，省去了东奔西跑的时间</p>
            <p class="lead featureText">直接与现场的员工共同交流，提高企业运营效率</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featureTitle"><b>店铺日常经营</b><br><br><b class="fontColorOrange">随时了解店铺的客流情况，避免纠纷，规范管理</b></h2><br>
            <p class="lead featureText">留下证据，避免员工内部纠纷、避免客户纠纷</p>
            <p class="lead featureText">保护员工、客户及店铺的私人财产安全</p>
            <p class="lead featureText">提高员工工作效率和服务质量</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="../images/shop3.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="../images/shop4.jpg">
        </div>
        <div class="col-md-7">
            <h2 class="featureTitle"><b>企业经营管理</b><br><br><b class="fontColorOrange">在公司的不同区域安装乐屋家庭安全卫士，构建企业内部管理系统</b></h2><br>
            <p class="lead featureText">一手掌握公司动态，监督员工工作</p>
            <p class="lead featureText">视频智能应用，可视化营销，助力做大做强生意</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
        <p class="text-center footer"> 武汉光谷奥源科技股份有限公司 ® 2014</p>
    </footer>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../javascripts/jquery-1.10.2.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/holder.min.js"></script>


</body></html>