<!DOCTYPE html>

<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>乐屋-功能参数</title>


    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="http://v3.bootcss.com/examples/carousel/carousel.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://ov-orange.com/favicon.ico" type="image/x-icon">
    <style type="text/css">
        .footer{
            color: #7a7777;
            font-family: "微软雅黑";
            padding-top: 50px;
            padding-bottom: 100px;
        }
        li{
            font-family: "微软雅黑";
        }
    </style>
    </head>
<!-- NAVBAR
================================================== -->
<body style="">

<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="font-family: '微软雅黑';" class="navbar-brand" href="../">乐屋</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="../">产品介绍</a></li>
                        <li><a href="./home">家庭应用</a></li>
                        <li><a href="./shop">店铺应用</a></li>
                        <li><a href="./download">软件下载</a></li>
                        <li class="active"><a href="#">功能参数</a></li>
                        <li><a href="./preorder">产品预订</a></li>
                        <li><a href="./contact">联系我们</a></li>
                        <li><a href="./member">乐屋族</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container marketing">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <hr class="featurette-divider">
        <div class="row featurette">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr><td><b>型号</b></td><td><p>全功能高清网络摄像头 乐屋1</p></td></tr>
                    <tr><td><b>摄像机</b></td><td><p>传感器类型130万 1/4"CMOS</p><p>最小照度0lux</p><p>自动光圈PWM</p><p>镜头接口类型CAMIF(Parallel)</p><p>日夜转换模式ICR红外滤片式</p><p>数字降噪3D 数字降噪. 支持3A功能</p></td></tr>
                    <tr><td><b>压缩标准</b></td><td><p>视频压缩标准H.264</p><p>H.264 编码类型BaseLine Profile</p><p>压缩输出码率16 Kbps~20Mbps</p><p>音频压缩标准G.711/G.726/AMR-NB</p><p>音频压缩码率64Kbps(G.711) / 16Kbps(G.726)/12Kbps(AMR-NB)</p></td></tr>
                    <tr><td><b>图像参数</b></td><td><p>最大图像尺寸1280*720 (720P)</p><p>帧率720P@30fps+VGA@30fps+QVGA@30fps+720P @1fsJPEG抓拍</p><p>码率控制CBR(固定码率，慢速外网与手机使用)/VBR(定画质与定码率折中控制)/FixQP(固定画质)</p><p>图像设置亮度，对比度，饱和度，锐度等通过客户端或者IE 浏览器可调</p><p>支持图像 90度/270 度旋转，支持图像上下、左右、上下左右镜像</p></td></tr>
                    <tr><td><b>云台控制</b></td><td><p>转动角度左右355度、上下90度、转动角度为9度</p></td></tr>
                    <tr><td><b>网络功能</b></td><td><p>智能报警移动侦测，LED夜间自动启动，报警联动(报警输出，云台预制位，SD卡录像，截图等)</p><p>接口协议ONVIF,CGI,P2P</p><p>存储功能支持SD/SDHC卡(2GB以上，往上无限制，可至2T)，循环录像</p><p>支持排程与事件录像（H.264影像)，支持嵌入式NVR存储</p><p>支持协议TCP/IP，HTTP，DHCP，DNS，DDNS，RTP(overTCP/UDP/HTTP)/RTSP</p><p>PPPoE，SMTP，NTP，UPnP，FTP，802.11n/b/g</p><p>通用功能一键恢复，三码流.密码保护.水印技术，用户分级管理</p><p>即插即用与手机支持支持Windows/iPhone/Android即插即用客户端与API接口</p><p>Windows提供IE网页监视/回放/控制，iPhone/Android提供时间监看</p><p>JPG抓拍，H.264 AVI录像，云台控制功能</p></td></tr>
                    <tr><td><b>接口</b></td><td><p>音频输入1路,MIC IN/Line IN,3.5mm音频接口(无源输入)</p><p>音频输出1路，3.5mm音频接口(可接耳机)</p><p>通讯接口1个RJ45 10M/100M自适应以太网口</p><p>报警输入1路</p><p>报警输出1路</p></td></tr>
                    <tr><td><b>Wi-Fi性能指标</b></td><td><p>无线标准IEEE802.11b, 802.11g, 802.11n</p><p>频率范围2.4 GHz ~ 2.4835 GHz</p><p>信道带宽支持20/40MHz</p><p>安全64/128-bit WEP, WPA/WPA2, WPA-PSK/WPA2-PSK, WPS</p><p>传输速率11b: 11Mbps,11g: 54Mbps,11n: 上限150Mbps</p><p>传输距离室内50米，室外100-150米</p></td></tr>
                    <tr><td><b>其它规范</b></td><td><p>工作温度和湿度-25℃～+80℃</p><p>电源供应DC 12V/2A</p><p>红外距离15-25米</p><p>尺寸（mm）112*107*125</p><p>重量750g</p></td></tr>
                    <tr><td><b>附送配件</b></td><td><p>安装螺丝1套</p><p>摄像头支架1套</p><p>电源适配器1个</p><p>1米网线1根</p><p>用户注册卡1份</p><p>用户安装使用指南1份</p><p>保修卡1份</p></td></tr>
                </tbody>
            </table>
        </div>
        <hr class="featurette-divider">
        <!-- FOOTER -->
        <footer>
            <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
            <p class="text-center footer"> 武汉光谷奥源科技股份有限公司 ® 2014</p>
        </footer>
    </div>
    <div class="col-md-1"></div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../javascripts/jquery-1.10.2.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/holder.min.js"></script>


</body></html>