<!DOCTYPE html>

<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>乐屋-联系我们</title>


    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="http://v3.bootcss.com/examples/carousel/carousel.css" rel="stylesheet">
    <style type="text/css">
        .footer{
            color: #7a7777;
            font-family: "微软雅黑";
            padding-top: 50px;
            padding-bottom: 100px;
        }
        li,dl,dt,dd{
            font-family: "微软雅黑";
        }
        hr{
            border-top-color: #eb7d08;
        }
        .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
        .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>
    </head>
<!-- NAVBAR
================================================== -->
<body style="">

<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="font-family: '微软雅黑';" class="navbar-brand" href="../">乐屋</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="../">产品介绍</a></li>
                        <li><a href="./home">家庭应用</a></li>
                        <li><a href="./shop">店铺应用</a></li>
                        <li><a href="./download">软件下载</a></li>
                        <li><a href="./details">功能参数</a></li>
                        <li><a href="./preorder">产品预订</a></li>
                        <li class="active"><a href="#">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>总部地址</dt>
                <dd>武汉关东科技园留学生创业园C座1层</dd><hr>
                <dt>全国热线</dt>
                <dd>400-886-7707</dd><hr>
                <dt>电子邮箱</dt>
                <dd><a href="mailto:onevo@ov-orange.com">onevo@ov-orange.com</a></dd><hr>
                <dt>光纤报警系统主页</dt>
                <dd><a href="http://www.ov-orange.com">www.ov-orange.com</a></dd><hr>
                <dt>客服QQ</dt>
                <dd>2533381264</dd><hr>
                <dt>新浪微博</dt>
                <dd>光谷奥源乐屋</dd><hr>
                <dt>新浪微博二维码</dt>
                <dd><img style="width: 96px;" src="../images/qrsina.png"></dd><hr>
            </dl>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">公司一角</div>
                <div class="panel-body">
                    <img src="../images/company.jpg" class="img-responsive">
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">园区地图</div>
                <div class="panel-body">
                    <div id="allmap" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    <footer>
        <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
        <p class="text-center footer"> 武汉光谷奥源科技股份有限公司 ® 2014</p>
    </footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../javascripts/jquery-1.10.2.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/holder.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("allmap");//在百度地图容器中创建一个地图
        var point = new BMap.Point(114.440862,30.505631);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }

    //标注点数组
    var markerArr = [{title:"武汉光谷奥源科技股份有限公司",content:"",point:"114.441348|30.505398",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
    ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor:"#808080",
                color:"#333",
                cursor:"pointer"
            });

            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }

    initMap();//创建和初始化地图
</script>


</body></html>