<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/bootstrap-switch.min.css">
        <script src="./javascripts/jquery-1.10.2.min.js"></script>
        <script src="./javascripts/bootstrap.min.js"></script>
        <script src="./javascripts/bootstrap-switch.min.js"></script>
        <script src="./socket.io/socket.io.js"></script>
        <meta charset="utf-8">
        <title>测试工具</title>
        <style type="text/css">
        </style>
    </head>
    <body>
        <div class="container" style="margin-top: 30px;">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#client" data-toggle="tab">Client</a></li>
                        <li><a href="#console" data-toggle="tab">Console</a></li>
                    </ul>
                    <div class="panel-body" style="height: 441px;overflow: auto;word-break: break-all">
                        <div class="tab-content">
                            <div class="tab-pane active client" id="client"></div>
                            <div class="tab-pane console" id="console"></div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <input type="checkbox" id="status" data-on-text="Connected" data-off-text="Disconnect" data-label-text="Socket Status" data-on-color="success" data-off-color="warning">
                        <button type="button" class="btn btn-default" id="clear">Clear</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tool Panel</h3>
                    </div>
                    <div class="panel-body" style="height: 500px;overflow: hidden">
                        <form class="form-horizontal" role="form" id="send-form">
                            <div class="form-group">
                                <label for="inputFrom" class="col-md-3 control-label">From</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="inputFrom" placeholder="UserId" value="test" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTo" class="col-md-3 control-label">To</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="inputTo" placeholder="DeviceId" value="ov_orange_01">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="inputCmd" class="col-md-3 control-label">CMD</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="inputCmd" placeholder="cmd" value="0">
                                        <span class="input-group-addon" style="padding: 0"><button type="button" class="btn btn-sm btn-info" id="send" style="margin-left: 0">Send</button></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default" id="sssp">实时视频</button>
                                </div>
                                <label for="inputTo" class="col-md-6 control-label">CMD = 11</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default" id="front">前进</button>
                                </div>
                                <label for="inputTo" class="col-md-6 control-label">CMD = 6</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default" id="back">后退</button>
                                </div>
                                <label for="inputTo" class="col-md-6 control-label">CMD = 7</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default" id="left">左转</button>
                                </div>
                                <label for="inputTo" class="col-md-6 control-label">CMD = 8</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default" id="right">右转</button>
                                </div>
                                <label for="inputTo" class="col-md-6 control-label">CMD = 9</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#status').bootstrapSwitch();
            $('#status').on('switchChange.bootstrapSwitch', function(event, state) {
                console.log(state); // true | false
            });

            var socket = io.connect(location.origin);
            socket.on('connect', function () {
                $('.client').append( '<p class="text-warning">Connect success , enjoy yourself.</p>');
                $('#status').bootstrapSwitch('state', true, true);
            });
            socket.on('disconnect', function() {
                $('.client').append( '<p class="text-warning">Server disconnected , please check your network state and waiting for server to fix this.</p>');
                $('#status').bootstrapSwitch('state', false, true);
            });
            socket.on('receive', function (msg) {
                $('.client').append( '<p class="text-success">&lt;&lt;&lt;' + JSON.stringify(msg) + '</p>');
            });
            socket.on('err', function (msg) {
                $('.client').append( '<p class="text-danger">&lt;&lt;&lt;' + JSON.stringify(msg) + '</p>');
            });
            socket.on('console', function (msg) {
                $('.console').append( '<p class="text-muted">' + msg + '</p>');
            });

            var buttonClick = function (btnid, cmd) {
                $('#' + btnid).on('click', function () {
                    var msg = {
                        from: $('#inputFrom')[0].value,
                        to: $('#inputTo')[0].value
                    };
                    msg.cmd = cmd || $('#inputCmd')[0].value;
                    $('.client').append( '<p class="text-primary">&gt;&gt;&gt;' + JSON.stringify(msg) + '</p>');
                    socket.emit('send', msg);
                })
            };

            buttonClick('send');
            buttonClick('front', 6);
            buttonClick('back', 7);
            buttonClick('left', 8);
            buttonClick('right', 9);
            buttonClick('sssp', 11);

            $('#clear').on('click', function () {
                $('.active.tab-pane').html('');
            });

        </script>
    </body>
</html>